*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
/* body{
   
} */
/**********************************************************nav bar*****************************************************/
/* background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);  */

nav{
    background-color: #730C99;
}
.navbar-brand,.navbar-text{
    margin-bottom: 0;
}
.logo{
    height:50px;
}

/************************************************************body********************************************************/
body{
    width: 100%;
    z-index: 1;
    
}
.row{
    width: 100%;
}
.col-6{
    height: 600px;
}
img{
    height: 100px;
    z-index: 0;
}
/***********************************************************container*****************************************************/
.competition{
    height: 200px;
    width: 100%;
    position: fixed;
    background-image:url(/images/paramparam1.png) ;
    z-index: 2;
    bottom:0;
    margin-bottom: 0%;
    background-repeat: no-repeat;
    background-size: contain;   
    background-position: 0% 100%;   
}
.compdetails{
    padding-top: 3%;
}
.images{
    z-index:1;
}
.last{
    height: 200px;
    width: 100%;
    position: fixed;
    background-image:url(/images/paramparam.png) ;
    z-index: 0;
    bottom:0;
    margin-bottom: 0%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: 0% 100%;
}
.col-3{
    text-align: center;
}