<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/participant.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <title>PottiFi-Participant</title>
</head>
<body>
<!-----------------------------------------Body------------------------------------------->
<!-----------------------------------------Nav bar--------------------------->
<nav class="navbar navbar-light">
    <a href="#" class="navbar-brand"><img class="logo" src="/images/pottifii logo trans.png" >Pottifi</a>
    <ul class="navbar-nav ml-auto">
        <li class="navbar-item">
            <a class="nav-link" href="#">
                Sign Up
            </a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="container">
        <div class="first row">
            <div class="col-3">
                <p>Last date: </p>
            </div>
            <div class="col-3">
                <p>Total Submissions so far:</p>
            </div>
            <div class="col-3">
                <p>Event Ends in:</p>
            </div>
            <div class="col-3">
                <p>Judges</p>
            </div>
        </div>
        <div class="secondary row">
            <div class="col-6">
                <div class="col-12">
                </div>
            </div>
            <div class="col-6">
                <div class="col-12">
                </div>
            </div>
        </div>
    </div>
</div>



<!------------------------------------------Footer-------------------------->
<footer>
    <div class="row">
        <div class="footerdetails col-4">
            <p class="contactdetails">Powered by</p>
        </div>
        <div class="footerdetails col-4">
            <p class="contactdetails">Contact Us<br><br>help.pottifi@gmail.com<br>bigus12.tech@gmail.com</p>
        </div>
        <div class="col-4">
            <div class="quicklinks col-12">
                <p>Quick Links</p>
                <a class="contactdetails" href="#">About Us</a><br>
                <a class="contactdetails" href="#">Sign Up</a><br>
                <a class="contactdetails" href="#">Sign In</a><br>
                <a class="contactdetails" href="#">Get In</a><br>   
            </div>        
        </div>
    </div>
</footer>
<!-- <footer>
    <div class="footerdetail">
        <div class="row"></div>
            <div class="footerdetails col-6">
                <p class="contactdetails">Powered by</p>
            </div>
            <div class="footerdetails col-6">
                <p class="contactdetails">Contact Us<br><br>help.pottifi@gmail.com<br>bigus12.tech@gmail.com</p>
            </div>
        </div>
    </div>
</footer> -->
</body>
</html>